.container {
  margin-top: 1.5rem; 
  padding: 0 1rem;
}

.row {
  display: flex;
  justify-content: center; 
  margin-bottom: 1.5rem; 
}

.col {
  width:100px;
  max-width: 800px; 
}

.card {
  background: #f7f8f9;
  border-radius: 0.50rem; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3); 
  padding: 1.5rem; 
    margin-bottom: 1.5rem;
}

.card-title {
  text-align: center; 
  margin-bottom: 1rem; 
  font-size: 1.8rem;
  font-weight: bold;
}

