<div class="container">
  <!-- Blood Group Chart Card -->
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-title">Blood Group Distribution</h5>
        <canvas baseChart
                [data]="bloodGroupChartData"
                [type]="'bar'">
        </canvas>
      </div>
    </div>
  </div>

  <!-- Age Group Chart Card -->
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-title">Age Group Distribution</h5>
        <canvas baseChart
                [data]="ageGroupChartData"
                [type]="'line'">
        </canvas>
      </div>
    </div>
  </div>
</div>
