<div class="container mt-4">
  <!-- loading -->
  <div *ngIf="loading" class="text-center my-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- error -->
  <div *ngIf="error" class="alert alert-danger text-center">{{ error }}</div>

  <!-- filterbar -->

  <div *ngIf="!loading && !error">
    <!-- Filters Section -->
    <div class="bg-light p-3 rounded shadow-sm mb-4">
      <div class="row g-3 align-items-centervere">
        <!-- Search Box -->
        <div class="col-md">
          <input
            type="text"
            class="form-control"
            placeholder="Search by name or email..."
            [(ngModel)]="searchTerm"
          />
        </div>

        <div class="col-md">
          <select class="form-select" [(ngModel)]="tagsFilter">
            <option value="">All Tags</option>
            <option value="history">History</option>
            <option value="american">American</option>
            <option value="crime">Crime</option>
            <option value="french">French</option>
            <option value="fiction">Fiction</option>
            <option value="english">English</option>
            <option value="mystery">Mystery</option>
            <option value="magical">Magical</option>
            <option value="love">Love</option>
            <option value="classic">Classic</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- table for display posts -->
  <div class="table-responsive rounded mt-3">
    <table
      *ngIf="!loading && !error"
      class="table table-bordered table-striped table-hover align-middle text-center shadow-sm table-responsive"
    >
      <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Tags</th>
          <th (click)="sortData('likes')" class="small">
            Likes<span class="small"
              >{{
                sort === "likes" ? (sortDirection === "asc" ? "↑" : "↓") : "↕"
              }}
            </span>
          </th>
          <th (click)="sortData('dislikes')" class="small">
            Dislikes<span class="small"
              >{{
                sort === "likes" ? (sortDirection === "asc" ? "↑" : "↓") : "↕"
              }}
            </span>
          </th>
          <th (click)="sortData('views')" class="small">
            Views<span class="small"
              >{{
                sort === "views" ? (sortDirection === "asc" ? "↑" : "↓") : "↕"
              }}
            </span>
          </th>
          <th>UserId</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let post of paginatedPosts()">
          <td>{{ post.id }}</td>
          <td class="text-start">{{ post.title }}</td>
          <td>{{ post.tags.join(", ") }}</td>
          <td class="text-success">{{ post.reactions.likes }}</td>
          <td class="text-danger">{{ post.reactions.dislikes }}</td>
          <td>{{ post.views }}</td>
          <td>{{ post.userId }}</td>

          <!-- actions features -->
          <td>
            <div class="dropdown">
              <button
                type="button"
                class="btn btn-outline-dark btn-sm dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                Click
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <span [routerLink]="['/posts-per-user', post.userId]"
                    >View</span
                  >
                </li>
                <li class="dropdown-item">
                  <span (click)="editPost(post)">Edit</span>
                </li>
                <li class="dropdown-item">
                  <span (click)="deletePost(post.id)">Delete</span>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  <div *ngIf="!loading && !error">
    <nav
      *ngIf="totalPages().length > 1"
      class="d-flex justify-content-center mt-1"
    >
      <ul class="pagination">
        <li
          class="page-item"
          [class.disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          <span class="page-link">Previous</span>
        </li>

        <li
          *ngFor="let page of totalPages()"
          (click)="changePage(page)"
          [class.active]="currentPage === page"
        >
          <span class="page-link">{{ page }}</span>
        </li>

        <li
          class="page-item"
          [class.disabled]="currentPage === totalPages().length"
          (click)="changePage(currentPage + 1)"
        >
          <span class="page-link">Next</span>
        </li>
      </ul>
    </nav>
  </div>
</div>

<app-post-form-modal
*ngIf="showModal"
[postData]="selectedPost"
(closeModal)="closeModal()"
></app-post-form-modal>
